<div class="row m-0">
  <div class="col-md-10">
    <h1>Settlers of Catan Deck Dealer</h1>
  </div>
  <div class="col-md-2">
    <p>Built by <a href="https://ryangraham.ca">Ryan Graham</a></p>
  </div>
</div>

<div class="row m-0">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <form [formGroup]="addPlayerForm" (ngSubmit)="onSubmitAddPlayer(addPlayerForm.value)" class="text-center border border-light p-5" >
      <h3>Add a Player</h3>
      <div class="form-group">
        <label for="newPlayerName">New Player Name</label>
        <input type="textbox" class="form-control" id="newPlayerName" aria-describedby="newPlayerNameHelp" placeholder="Jane Smith" formControlName="newPlayerName">
        <small id="newPlayerNameHelp" class="form-text text-muted">This will be the name displayed for this player.</small>
      </div>
      <div class="form-group">
        <label for="newPlayerEmail">New Player Email</label>
        <input type="email" class="form-control" id="newPlayerEmail" aria-describedby="newPlayerEmailHelp" placeholder="jane@smith.com" formControlName="newPlayerEmail">
        <small id="newPlayerEmailHelp" class="form-text text-muted">This will be the email address that receives the card.</small>
      </div>
      <button type="submit" class="btn btn-info my-4 btn-block">Add Player</button>
    </form>
  </div>
  <div class="col-md-4"></div>
</div>
<div class="centre-div">
  <h2>Players</h2>
</div>
<div class="row text-center align-items-end m-0">
  <div class="col-lg-3 mb-5 mb-lg-0 mt-3" *ngFor="let player of players">
    <div class="bg-white p-5 rounded-lg shadow">
      <h1 class="h2 text-uppercase font-weight-bold mb-4">{{player.name}}</h1>
      <h2 class="h6 text-uppercase mb-4">{{player.email}}</h2>
      <button *ngIf="cardsLeft !== 0" class="btn btn-info my-4 btn-block" (click)="drawCard(player.id)">Draw Card</button>
    </div>
  </div>
</div>
<div class="centre-div">
  <h2>Drawn Cards</h2>
  <label>{{cardsLeft}} of {{deck.length}} Cards Remain</label>
</div>
<div class="row text-center align-items-end m-0">
  <div class="col-lg-2 mb-5 mb-lg-0 mt-3" *ngFor="let cardEvent of cardEvents">
    <div class="bg-white p-5 rounded-lg shadow">
      <h1>{{cardEvent.player.name}}</h1>
      <input class="form-control" id="{{cardEvent.id}}" style="visibility:collapse" type="textbox" value="{{cardEvent.card.name}}">
      <a (click)="toggleVisibility(cardEvent.id)">
        <fa-icon [icon]="faEyeSlash" class="eye-icon" aria-hidden="true"></fa-icon>
      </a>
    </div>
  </div>
</div>

<!-- <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Player</th>
      <th scope="col">Card</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cardEvent of cardEvents">
      <td scope="row">{{cardEvent.player.name}}</td>
      <div class="input-group">
        <td scope="row">
          <div class="form-group">
            <input class="form-control" id="{{cardEvent.id}}" style="visibility:collapse" type="textbox" value="{{cardEvent.card.name}}">
            <a (click)="toggleVisibility(cardEvent.id)">
              <fa-icon [icon]="faEyeSlash" class="eye-icon" aria-hidden="true"></fa-icon>
            </a>
          </div>
        </td>
      </div>
    </tr>
  </tbody>
</table> -->

<router-outlet></router-outlet>