<form [formGroup]="addPlayerForm" (ngSubmit)="onSubmitAddPlayer(addPlayerForm.value)">
  <h4>Add a Player</h4>
  <div class="form-group">
    <label for="newPlayerName">New Player Name</label>
    <input type="textbox" class="form-control" id="newPlayerName" aria-describedby="newPlayerNameHelp" placeholder="Jane Smith" formControlName="newPlayerName">
    <small id="newPlayerNameHelp" class="form-text text-muted">This will be the name displayed for this player.</small>
  </div>
  <div class="form-group">
    <label for="newPlayerEmail">New Player Email</label>
    <input type="textbox" class="form-control" id="newPlayerEmail" aria-describedby="newPlayerEmailHelp" placeholder="jane@smith.com" formControlName="newPlayerEmail">
    <small id="newPlayerEmailHelp" class="form-text text-muted">This will be the email address that receives the card.</small>
  </div>
  <button type="submit" class="btn btn-secondary">Add Player</button>
</form>

<br><br>
<label>{{cardsLeft}} of {{deck.length}} Cards Remain</label>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Draw Card</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players">
      <td scope="row">{{player.name}}</td>
      <td scope="row">{{player.email}}</td>
      <td scope="row">
        <button *ngIf="cardsLeft !== 0" (click)="drawCard(player.id)">Draw Card</button>
      </td>
    </tr>
  </tbody>
</table>

<br><br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Player</th>
      <th scope="col">Card</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cardEvent of cardEvents">
      <td scope="row">{{cardEvent.player.name}}</td>
      <div class="input-group">
        <td scope="row">
          <div class="form-group">
            <input class="form-control" id="{{cardEvent.id}}" style="visibility:collapse" type="textbox" value="{{cardEvent.card.name}}">
            <a (click)="toggleVisibility(cardEvent.id)">
              <fa-icon [icon]="faEyeSlash" class="eye-icon" aria-hidden="true"></fa-icon>
            </a>
          </div>
        </td>
      </div>
    </tr>
  </tbody>
</table>

<router-outlet></router-outlet>