a, a:hover{
  color:#333
}

.eye-icon {
  float: right;
  margin-right: 10px;
  margin-top: -28px;
  position: relative;
  z-index: 2;
  cursor:pointer;
}

.centre-div{
  text-align:center;
}

h3 { 
  text-shadow: 1px 1px 1px #ccc;
}